# Core
streamlit
openai==1.93.2
pandas==2.2.2
python-dotenv

# Database
psycopg2-binary

# Google Cloud
google-cloud-bigquery
google-auth
google-api-core
google-cloud-core
googleapis-common-protos

# Utils
tqdm
requests
typing_extensions
